<ion-tabs >

  <ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button tab="tab-llamador">
      <ion-icon name="volume-high" size="small"></ion-icon>
      <ion-label>Llamar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="bookmarks" size="small"></ion-icon>
      <ion-label>Numeros</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="images" size="small"></ion-icon>
      <ion-label>Multimedia</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="options" size="small"></ion-icon>
      <ion-label size="small">Ajustes</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
