<div>
    <app-custom-preloader *ngIf="loading"></app-custom-preloader>  
  </div>
 <div *ngIf="elementosUsuario">
   <label class="m-2"><b>Usuario :</b> {{elementosUsuario[0].nombreyapellido}}</label>
   <label class="m-2"><b>Puesto defecto :</b> {{elementosUsuario[0].puesto_defecto}}</label>
   <label class="m-2"><b>Sector :</b> {{elementosUsuario[0].sector_nombre}}</label>
 </div>

  <div class="d-flex justify-content-between mb-2 mt-2">
    <div class="d-flex justify-content-start">
      <p-listbox [options]="elementosSector" [(ngModel)]="selectedSector" [multiple]="false" [filter]="true" optionLabel="sector_nombre" [style]="{'width':'250px'}">
        <p-header>
          Sectores
        </p-header>
        <ng-template let-elemento pTemplate="item" >    
            <label style="font-size: 10px;"> {{elemento.label}}</label>
        </ng-template>
      </p-listbox>
  
    </div>

    <div class="d-flex justify-content-end">
        <p-listbox [options]="elementosPuesto" [(ngModel)]="selectedPuesto" [multiple]="false" [filter]="true" optionLabel="puesto_nombre" [style]="{'width':'240px'}">
          <p-header>
            Puestos
          </p-header>
          <ng-template let-elemento pTemplate="item" >    
            <label style="font-size: 10px;"> {{elemento.label}}</label>
          <!--   <div class="ui-helper-clearfix row d-flex align-items-center">
              <button  (click)="guardarSector(elemento)" class="icon-hover ml-2 mr-2 btn btn-info btn-sm "> <i class="far fa-check-circle  fa-lg"></i></button>     
           
                     
            </div> -->
          </ng-template>
        </p-listbox>
    
      </div>
     
  </div>
  <div>
    <button class="btn btn-info btn-block btn-md" (click)="guardarSector()"> guardar configuración</button>
</div>